/* 原子类 —— flex 布局(常用) */

// flex  row方向
.flex-row {
  display: flex;
  flex-direction: row;
}
// flex  column方向
.flex-column {
  display: flex;
  flex-direction: column;
}
// 水平/垂直-居中  column方向
.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// 水平/垂直-居中
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// 水平-居中
.flex-center-x {
  display: flex;
  justify-content: center;
}
// 垂直-居中  单行
.flex-center-y {
  display: flex;
  align-items: center;
}
// 垂直-居中  column方向
.flex-center-y-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// 两端对齐
.flex-between {
  display: flex;
  justify-content: space-between;
}
// 两端对齐 column方向
.flex-between-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
// 水平(两端对齐)-垂直(居中)
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// 水平(居中)-垂直(两端对齐)  column方向
.flex-center-between-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-1 {
  flex: 1; /* 等同于 1 1 0% */
}
.flex-none {
  flex: none; /* 等同于 0 0 auto */
}

.flex-wrap {
  flex-wrap: wrap;
}
