@import "./vant.scss";
@import "./flex-style.scss";

html,
body,
#app {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    color: $text-color-1;
    font-family: "Microsoft YaHei", "PingFang SC", "Arial", "sans-serif";
    font-size: $font-size-1;
    line-height: 1;
}

* {
    box-sizing: border-box;
}

/* 清除浮动 */
.clearfix {
    &::before,
    &::after {
        display: table;
        content: "";
    }

    &::after {
        clear: both;
    }
}

// #region 通用样式类

.mx-16 {
    margin: 0 16px;
}

.comm-panel {
    & + .comm-panel {
        margin-top: 24px;
    }

    /* 类名(*-wrap) 特定组件的根节点 */
    > .topic-bar-wrap {
        @extend .mx-16;
        margin-bottom: 16px;
    }

    > .topic-bar-wrap + .topic-card-wrap {
        @extend .mx-16;
    }
}

.comm-cell-jump-list {
    --van-cell-horizontal-padding: 16px;
    --van-cell-line-height: 32px;
    --van-cell-vertical-padding: 0;
    --van-cell-right-icon-color: #{$primary-color};

    > *:nth-child(2n + 1) {
        --van-cell-background: #f3f5f5;
    }

    .van-cell__title,
    .van-cell__value {
        min-width: 0;
    }
}

.comm-highlight-text {
    color: #ff6100; // 综合搜索匹配关键字的颜色
}

.comm-category-tabs {
    --van-tabs-line-height: #{$app-tabs-height};
    --van-tab-text-color: #666;
    --van-tabs-nav-background: #{rgba($primary-color, 0.05)};

    .van-tab--active {
        background-color: $primary-color;
        color: #fff;
        font-weight: normal;
    }

    .van-tabs__nav--line.van-tabs__nav--complete {
        padding-left: 0;
        padding-right: 0;
    }
}

// #endregion
