@import "./var.scss";

:export {
  color-blue: $color-blue;
  color-green: $color-green;
  color-orange: $color-orange;
  color-red: $color-red;
  color-pink: $color-pink;
  color-purple: $color-purple;

  primary-color: $primary-color;
  success-color: $success-color;
  warning-color: $warning-color;
  danger-color: $danger-color;
  text-color-1: $text-color-1;
  text-color-2: $text-color-2;
  text-color-3: $text-color-3;
  text-color-4: $text-color-4;
  border-color-1: $border-color-1;

  font-size-0: $font-size-0;
  font-size-1: $font-size-1;
  font-size-2: $font-size-2;
  font-size-3: $font-size-3;
  font-size-4: $font-size-4;
  font-size-5: $font-size-5;
  font-weight-bold: $font-weight-bold;

  comm-active-opacity: $comm-active-opacity;
  comm-placeholder-color: $comm-placeholder-color;
  comm-box-shadow: $comm-box-shadow;

  comm-top-filter-bar-height-1: $comm-top-filter-bar-height-1;
  comm-bottom-action-bar-height-1: $comm-bottom-action-bar-height-1;

  /** 公共组件变量 */
  app-header-height: $app-header-height;
  app-search-height: $app-search-height;
  app-tabs-height: $app-tabs-height;
  app-tabbar-height: $app-tabbar-height;
}
